.social-container a{
    text-decoration: none;
    color:#0f6aac;
}

.social-container a:hover{
    color:#0b4a77;
}

.footer-text a{
    text-decoration: none;
    color: #0f6aac;
}

.footer-text a:hover{
    color:#0b4a77;
}

.footer-text p{
    color: #0f6aac;
}

